* {
  padding: 0;
  margin: 0;
  font-family: "Space Mono", monospace;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 16px;
  font-weight: 50;
  color: white;
  background-color: #f0fdfa;
}
h1,
h2 {
  font-weight: 700;
  font-size: 14px;
  padding: 10px 0;
}
.container {
  flex: 1;
  justify-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "input output";
  background-color: #134e4a;
  padding: 25px 40px;
  border-radius: 10px;
  max-width: 600px;
}

.input {
  grid-area: input;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-bill,
.btn-tip,
.custom-tip,
.num-people {
  border: none;
  background-color: white;
  color: #134e4a;
  border-radius: 5px;
  font-size: 18px;
  margin: 6px;
  width: 70px;
  font-weight: 600;
}

.btn:hover {
  color: #0f766e;
}

.btn:active {
  box-shadow: 0 3px #0c3634;
  transform: translateY(3px);
}

.num-people,
.input-bill {
  width: 250px;
}

.output {
  grid-area: output;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 30px;
  font-weight: 500;
}

h3 {
  font-size: 24px;
  font-weight: 500;
  display: inline-block;
}

.tip,
.total {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.per {
  font-size: 12px;
}

.name {
  display: block;
}

footer {
  color: #0d9488;
  position: fixed;
  bottom: 0;
}
